:root {
  --color-bg-1: #000e17;
  --color-bg-2: #001e2d;
  --color-bg-3: #000000;
  --color-bg-4: #003347;
  --color-light: #85a2b2;

  --container-width-lg: 80%;
  --container-width-md: 92%;

  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: black;
  color: var(--color-light);
  line-height: 1.7;
}

h2 {
  line-height: 1.1;
  font-weight: 400;
  font-size: 3.5vw;
}

h1 {
  font-size: 6vw;
  font-family: "Playfair Display", serif;
  font-weight: 1;
  font-style: normal;
  color: rgb(255, 255, 255);
}

a {
  color: var(--color-light);
  transition: var(--transition);
}

a:hover {
  color: white;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

nav {
  height: 5rem;
  width: 100vw;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

/* Window being scrolled */
.window-scrolled {
  background: var(--color-bg-1);
  border-bottom: 0.2rem solid var(--color-bg-2);
  box-shadow: 0 1rem 1rem rgba(54, 54, 54, 0.3);
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle-btn {
  display: none;
}

.nav__logo {
  width: 75rem;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 950;
  color: #358573;
}

.nav__links {
  display: flex;
  gap: 4rem;
}

header {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  background: linear-gradient (var(--color-bg-3), var(--color-bg-1));
}

.header__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 10rem;
  margin-top: 17rem;
  position: absolute;
  height: relative;
  width: relative;
}

.empty {
  height: 3.5rem;
  width: 18rem;
  background: var(--color-bg-3);
  border-radius: calc(3.5 / 2);
  margin-bottom: 3.5rem;
  box-shadow: inset 0 1rem 1rem rgba(0, 0, 0 0.3);
  border: 1px solid var(--color-bg-3);
}

.header__tag {
  color: var(--color-primary-variant);
}

#gallery {
  margin-top: 12rem;
}

.gallery__head {
  display: flex;
  justify-content: space-between;
}

.gallery__container p {
  width: 45rem;
}

.swiper-wrapper {
  margin-top: 5rem;
  height: 37rem;
  padding-bottom: 5rem;
}

.swiper-slide {
  border: 0.2rem solid white;
  height: fit-content;
  max-height: 36rem;
  overflow: hidden;
  transition: var(--transition);
}

.swiper-slide:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0, 0.4);
}

.swiper-slide img {
  filter: saturate(0);
  transition: var(--transition);
  width: 100%;
  height: 100%;
}

.swiper-slide:hover img {
  filter: saturate(1);
}

.swiper-pagination-bullet {
  background: #358573;
}

.main__class__image {
  max-width: auto;
  height: 90%;
  display: flex;
  justify-content: center;
  filter: brightness(0.7);
  box-shadow: white;
}

@media screen and (max-width: 1650px) {
  .nav__links {
    position: absolute;
    top: 100%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  transition: var(--transition);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  transition: var(--transition);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #358573;
}
